* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* background-color: #606060; */
}

html, body{
    overflow: hidden;
    background-color: #202020;
    color: white;
}

.container {
    display: grid;
    grid-template: 
    "nav nav" 56px
    "menu main" 1fr /
    240px 1fr;

    height: 100vh;
}

/* Nav code */
.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-content: center;

    padding: 0 16px;
    overflow: hidden;
}
.nav .left-column { /* Left Column */
    display: flex;
    justify-content: left;
    align-items: center;
}
.nav button {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 26px;
    border: none;
    background-color: unset;
    padding: 8px;
    color: white;
    
    transition: 0.3s;
}
.nav button:active {
    background-color: #383838;
    transition: 0s;
}
.nav button:hover {
    cursor: pointer;
}
.nav .left-column img {
    height: 30px;
}
.nav .left-column img:hover {
    cursor: pointer;
}
.nav .mid-column { /* Middle Column */
    display: flex;
    justify-content: center;
}
.nav #hidden-search {
    display: none;
    background-color: #121212;
    border: 1px solid #3298FD;
    border-right: 0;
    padding: 8px;
    height: 40px;
    width: 40px;
}
.nav input { /* Search Bar */
    background-color: #121212;
    height: 40px;
    width: 538px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 0 6px;
    border: 1px solid #303030;
}
.nav input:focus {
    outline: none;
    border: 1px solid #3298FD;
    border-left: 0;
}
.nav #search {
    background-color: #303030;
    height: 40px;
    width: 64px;
    color: white;
    border: none;
    border-radius: 0 2px 2px 0;
}
.nav #search:hover {
    cursor: pointer;
}
.nav #voice {
    font-variation-settings: 'FILL' 1;
    background-color: #181818;
    height: 40px;
    width: 40px;
    color: white;
    border: none;
    border-radius: 26px;
    margin-left: 4px;
}
.nav #voice:hover {
    cursor: pointer;
}
.nav .right-column { /* Right Column */
    display: flex;
    justify-items: right;
}
/* Nav code ends */



/* Menu code */
.menu {
    grid-area: menu;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 8px;
    
    padding: 12px 0;
    
    overflow-y: hidden;
    overflow-x: hidden;
}
.menu:hover {
    overflow-y: scroll;
}
.menu hr {
    border: 1px solid #383838;
}
.menu h5 {
    padding: 8px 24px;
    height: 33px;
    color: #AAAAAA;
}
.menu .button { /* Div button with i and span inside*/
    display: grid;
    grid-template-columns: 24px 72px;
    grid-gap: 24px;

    padding: 0 24px;
    height: 40px;
    align-content: center;
}
.menu .button:hover {
    cursor: pointer;
    background-color: #383838;
}
.menu .button:focus {
    background-color: #383838;
}
.menu .button:focus:hover{
    cursor: pointer;
    background-color: #484848;
}
.menu .button.page {
    background-color: #383838;
}
.menu .button.page:hover {
    cursor: pointer;
    background-color: #505050;
}

.menu .button.yt i { /* Inside Menu, in the element with class btn&&yt, change its i */
    color: red;
}
.menu .button span {
    width: max-content;
}
.menu .first, .second, .subscriptions, .explore, .more{ /* The grid inside each row-grid */
    display: grid;
    grid-template-rows: auto;
}



/* Menu code ends */


/* Videos code */
.main {
    position: static; /* to have the scroll bounce effect */
    grid-area: main;
    background-color: #181818;
}
.main button {
    vertical-align: middle;
    width: 200px;
}


/* Videos code ends */